:root {
  --van-toast-max-width: 70%;
  --van-toast-font-size: var(--van-font-size-md);
  --van-toast-text-color: var(--van-white);
  --van-toast-loading-icon-color: var(--van-white);
  --van-toast-line-height: var(--van-line-height-md);
  --van-toast-radius: var(--van-radius-lg);
  --van-toast-background: rgba(0, 0, 0, 0.3);
  --van-toast-icon-size: 36px;
  --van-toast-text-min-width: 96px;
  --van-toast-text-padding: var(--van-padding-xs) var(--van-padding-sm);
  --van-toast-default-padding: var(--van-padding-md);
  --van-toast-default-width: 88px;
  --van-toast-default-min-height: 88px;
  --van-toast-position-top-distance: 20%;
  --van-toast-position-bottom-distance: 20%;
}

.van-toast {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  box-sizing:content-box;
  transition:all var(--van-duration-fast);
  width:var(--van-toast-default-width);
  max-width:var(--van-toast-max-width);
  min-height:var(--van-toast-default-min-height);
  padding:var(--van-toast-default-padding);
  color:var(--van-toast-text-color);
  font-size:var(--van-toast-font-size);
  line-height:var(--van-toast-line-height);
  white-space:pre-wrap;word-break:break-all;
  text-align:center;
  background:var(--van-toast-background);
  border-radius:var(--van-toast-radius);
}

.van-toast__icon {
  font-size:var(--van-toast-icon-size);
}

.van-toast__text {
  margin-top:var(--van-padding-xs);
}
