:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background: #f7f8fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#app {
  width: 100%;
  height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  overflow: hidden;
  scrollbar-width: none;

  --van-back-top-bottom: 7.5rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading-block {
  display: flex;
  background: #f7f8fa;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
}

.loading-text {
  color: #242424;
  margin-top: 0.5rem;
}